@model BTL_ASP.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-5 p-5 border border-dark rounded">
    <h2>Chi tiết đơn hàng</h2>
    <hr />
    <table class="table table-hover table-bordered">
        <tr>
            <th>Họ tên khách hàng</th>
            <th>@Html.DisplayNameFor(model => model.MaDonHang)</th>
            <th>@Html.DisplayNameFor(model => model.DiaChi)</th>
            <th>@Html.DisplayNameFor(model => model.GhiChu)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.KhachHang.Ho) @Html.DisplayFor(model => model.KhachHang.Ten)</td>
            <td>@Html.DisplayFor(model => model.MaDonHang)</td>
            <td>@Html.DisplayFor(model => model.DiaChi)</td>
            <td>@Html.DisplayFor(model => model.GhiChu)</td>
            @{ 
                string tt = "";
                switch (Model.TrangThai)
                {
                    case "0": tt = "Chờ xử lý"; break;
                    case "1": tt = "Đang chuẩn bị hàng"; break;
                    case "2": tt = "Đang giao hàng"; break;
                    case "3": tt = "Đã nhận hàng"; break;
                    case "4": tt = "Đơn hàng bị hủy"; break;
                }
            }
            <td>@tt</td>
            <td>@Html.DisplayFor(model => model.NgayTao)</td>
        </tr>
    </table>
    <p class="d-flex justify-content-between">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDonHang }, new { @class = "btn btn-info text-white" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "text-decoration-none" })
    </p>
</div>