@using BTL_NHOM4.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Giay>
@{
    ViewBag.Title = "Cửa hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/wwwroot/img/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Cửa hàng</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Trang chủ</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Cửa hàng</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="htc__product__area shop__page pt--40 bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter__menu__container">
                        <div class="product__menu">
                            @if (ViewBag.Keyword != null)
                            {
                                <h2>Kết quả lọc: <span class="text-success">@ViewBag.Keyword</span></h2>
                            }
                            else
                            {
                                if (0 == ViewBag.TheLoai)
                                {
                                    <button onclick="location.href = '@Url.Action("Index", "Shop")'" class="is-checked">Tất cả</button>
                                }
                                else
                                {
                                    <button onclick="location.href = '@Url.Action("Index", "Shop")'">Tất cả</button>
                                }
                                foreach (var item in ViewData["LsDM"] as IList<TheLoai>)
                                {
                                    if (item.MaDanhMuc == ViewBag.TheLoai)
                                    {
                                        <button onclick="location.href='@Url.Action("Index", "Shop", new { theloai = item.MaDanhMuc })'" class="is-checked">@item.TenTheLoai</button>
                                    }
                                    else
                                    {
                                        <button onclick="location.href='@Url.Action("Index", "Shop", new { theloai = item.MaDanhMuc })'">@item.TenTheLoai</button>
                                    }
                                }
                            }
                                </div>
                        <div class="filter__box">
                            <a class="filter__menu" href="#">Lọc</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Filter Menu -->
            <div class="filter__wrap">
                <div class="filter__cart">
                    <div class="filter__cart__inner">
                        <div class="filter__menu__close__btn">
                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                        </div>
                        <div class="filter__content">
                            <!-- Start Single Content -->
                            <form action="@Url.Action("Index","Shop")">
                                <div class="single__filter">
                                    <div class="card">
                                        <article class="card-group-item">
                                            <header class="card-header">
                                                <h2 class="title">Lọc tìm sản phẩm</h2>
                                            </header>
                                            <div class="filter-content">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <input type="text" name="keyword" placeholder="Tên sản phẩm" class="form-control" value="@ViewBag.Keyword" />
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Giá thấp nhất</label>
                                                                <input type="number" name="sgia" class="form-control" id="inputEmail4" placeholder="$0" value="@ViewBag.sgia" />
                                                            </div>
                                                            <div class="form-group col-md-6 text-right">
                                                                <label>Giá cao nhất</label>
                                                                <input type="number" name="egia" class="form-control" placeholder="$1,0000" value="@ViewBag.egia" />
                                                            </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Thể loại</label>
                                                            <select name="theloai" class="form-control">
                                                                <option value="0">Tất cả</option>
                                                                @foreach (var item in ViewData["LsDM"] as IList<TheLoai>)
                                                                {
                                                                    if(ViewBag.TheLoai == item.MaDanhMuc) {
                                                                        <option value="@item.MaDanhMuc" selected>@item.TenTheLoai</option>
                                                                    }
                                                                    else {
                                                                    <option value="@item.MaDanhMuc">@item.TenTheLoai</option>
                                                                    }
                                                                    
                                                                }
                                                            </select>
                                                        </div>
                                                        </div>
                                                    </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-success p-2">Lọc</button>&nbsp;
                                                    <button type="button" onclick="location.href = '@Url.Action("Index","Shop")'" class="btn btn-warning p-2">Hủy</button>
                                                </div>
                                            </div>
                                            
                                        </article>
                                    </div>
                                </div>
                                </form>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Filter Menu -->
            <!-- End Product MEnu -->
            <div class="row">
                <div class="product__list another-product-style">
                    @if (Model.PageCount == 0)
                    {


                        <div class="text-center text-info mt--100">
                            Không tìm thấy sản phẩm nào
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                                <div class="product foo">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
                                            <a href="@Url.Action("ProductDetail","Shop", new { id = item.MaGiay})">
                                                <img src="~/wwwroot/img/_product/@item.Anh" alt="product images">
                                            </a>
                                        </div>
                                        <div class="product__hover__info">
                                            <ul class="product__action">
                                                <li><a title="Thêm vào giỏ hàng" href="@Url.Action("ThemGioHang", "Cart", new { iMaGiay = item.MaGiay , url = HttpContext.Current.Request.Url.PathAndQuery})"><span class="ti-shopping-cart"></span></a></li>
                                                <li><a title="Tim" ><span class="ti-heart"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__details">
                                        <h2><a href="@Url.Action("ProductDetail","Shop", new { id = item.MaGiay})">@item.TenGiay</a></h2>
                                        <ul class="product__price">
                                            @{ string giafm = (item.Gia ?? 0).ToString("#,##0"); }
                                            <li class="new__price">@giafm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <!-- Start Load More BTn -->
            <div class="row mt--50">
                <div class="col-md-12">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    <div class="text-center">
                        @if (ViewBag.Keyword == null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, theloai = ViewBag.theloai }));
                        }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, theloai = ViewBag.TheLoai, sgia =ViewBag.sgia, egia = ViewBag.egia, keyword = ViewBag.Keyword }));
                        }
                        </div>
                </div>
            </div>
            <!-- End Load More BTn -->
        </div>
    </div>
</section>


