@model BTL_ASP.Models.Giay

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Giays", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal m-5">
        <h4>Thêm mới sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.MaDanhMuc, "Tên danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.TenGiay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenGiay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenGiay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.Mau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.KichThuoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KichThuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KichThuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.Anh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/wwwroot/sanphams/h0.jpg" id="output_image" class="img-rounded" width="180" height="200" />
                <p class="mt-2"><label class="btn btn-info text-white" for="ufile" style="cursor: pointer;">Chọn file ảnh</label></p>
                <input type="file" name="ImageFile" id="ufile" value="" style="display: none;" onchange="loadFile(event)" />
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="p-2 rounded" type="datetime" name="NgayTao" value="@DateTime.Now" />
                @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2 form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="MoTa"></textarea>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-2 form-group">
            <div class="d-flex justify-content-between">
                <div>
                    <input type="submit" value="Tạo" class="btn btn-success" />
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "text-decoration-none" })
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<script type="text/javascript">CKEDITOR.replace('MoTa');</script>