@model BTL_ASP.Models.TinTuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-5 p-5 border border-dark rounded">
    <h2>Xóa sản phẩm</h2>

    <h3 class="text-danger">Bạn có chắc chắn muốn xóa tin tức này không?</h3>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaTinTuc)</th>
            <th>@Html.DisplayNameFor(model => model.TieuDe)</th>
            <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
            <th>@Html.DisplayNameFor(model => model.NgaySua)</th>
            <th>@Html.DisplayNameFor(model => model.link)</th>
            <th width="400">@Html.DisplayNameFor(model => model.NoiDung)</th>
            <th>@Html.DisplayNameFor(model => model.AnhTieuDe)</th>
            <th>@Html.DisplayNameFor(model => model.NguoiTao)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.MaTinTuc)</td>
            <td>@Html.DisplayFor(model => model.TieuDe)</td>
            <td>@Html.DisplayFor(model => model.NgayTao)</td>
            <td>@Html.DisplayFor(model => model.NgaySua)</td>
            <td>@Html.DisplayFor(model => model.link)</td>
            <td class="noidung">@Html.DisplayFor(model => model.NoiDung)</td>
            <td>
                @{
                    //Lấy đường dẫn file ảnh
                    string ImagePath = "~/wwwroot/anhtieudes/" + Model.AnhTieuDe;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            </td>
            <td>@Html.DisplayFor(model => model.NguoiTao)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color d-flex justify-content-between">
            <div>
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "text-decoration-none" })
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $(".noidung").text(function (i, text) {
            return text.length > 100 ? text.substr(0, text.lastIndexOf(' ', 300)) + '...' : text;
        });
    });
</script>
