@model IEnumerable<BTL_ASP.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid m-2">
    <h2>Thống kê danh sách slide</h2>
    <div class="d-flex justify-content-start my-4">
        <span class="btn btn-success" style="margin-right: 40px;">
            @Html.ActionLink("Tạo mới slide", "Create", null, new { @class = "text-white text-decoration-none" })
        </span>
    </div>
    <table class="table border-0 table-bordered text-center">
        <tr>
            <th>
                Mã slide
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="max-width: 400px;">
                    @{
                        //Lấy đường dẫn file ảnh
                        string ImagePath = "~/wwwroot/img/_slide/" + item.Anh;
                    }
                    <img src="@Url.Content(ImagePath)" class="img-thumbnail" />
                </td>
                <td style="line-height: 120px;">
                    @Html.ActionLink("Xem", "Details", new { id = item.Id }, new { @class = "text-decoration-none text-primary" }) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "text-decoration-none text-warning" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "text-decoration-none text-danger" })
                </td>
            </tr>
        }

    </table>
</div>