@model BTL_NHOM4.Models.TinTuc
@using BTL_NHOM4.Models;
@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}

<!-- Start Our Blog Area -->
<section class="blog-details-wrap ptb--60 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="blog-details-left-sidebar">
                    <div class="blog-details-top">
                        <div class="blog-details-thumb-wrap">
                            <div class="blog-details-thumb">
                                <img src="~/wwwroot/img/_blog/@Model.AnhTieuDe" alt="blog images">
                            </div>
                            <div class="upcoming-date">
                                @{
                                    DateTime nt = Model.NgayTao ?? DateTime.Now;
                                }
                                @nt.Day<span class="upc-mth">@nt.Month,@nt.Year</span>
                            </div>
                        </div>
                        <h2>@Model.TieuDe</h2>
                        <div class="blog-admin-and-comment">
                            <p>Tạo bởi : <a href="#">@Model.NguoiTao</a></p>
                        </div>
                        <!-- Start Blog Pra -->
                        <div class="blog-details-pra">
                            @Html.Raw(Model.NoiDung);
                        </div>
                        <!-- End Blog Pra -->

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-30 xmt-40">
                <div class="blod-details-right-sidebar">
                    <!-- Start Letaest Blog Area -->
                    <div class="our-recent-post">
                        <h2 class="section-title-2">Bài đăng mới nhất</h2>
                        <div class="our-recent-post-wrap">
                            @foreach (var item in ViewData["ListTT"] as IList<TinTuc>)
                            {
                                <div class="single-recent-post">
                                    <div class="recent-thumb">
                                        <a href="@Url.Action("Detail","Blog",new { id = item.MaTinTuc})"><img src="~/wwwroot/img/_blog/@item.AnhTieuDe" alt="post images"></a>
                                    </div>
                                    <div class="recent-details">
                                        <div class="recent-post-dtl">
                                            <h6><a href="@Url.Action("Detail","Blog",new { id = item.MaTinTuc})">@item.TieuDe</a></h6>
                                        </div>
                                        <div class="recent-post-time">
                                            @{ 
                                                DateTime itemnt = item.NgayTao ?? DateTime.Now;
                                            }
                                            <p>@itemnt.ToString("dd/MM/yyyy")</p>
                                            <p class="separator">|</p>
                                            <p>@item.NguoiTao</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Blog Area -->